{% extends 'base.html' %}

{% block body %}
    <div class="container">
        <div class="row">
        <div class="col">
            <h1>login</h1>
            {{ form_login.username }}
            {{ form_login.email }}
            {{ form_login.senha }}
            {{ form_login.confirmacao_senha }}
            {{ form_login.botao_submit_criarconta }}
        </div>
        <div class="col">
            <h1>Criar Conta</h1>
            {{ form_criar_conta.email }}
            {{ form_criar_conta.senha }}
            {{ form_criar_conta.botao_submit_login }}
            
        </div>
        </div>
    </div>

{% endblock %}